:root {
  --site-background-color: #ffffff;
  --primary-background-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --selected-text-color: #ffffff;
  --address-text-color: #ffffff;
  --secondary-address-text-color: rgba(255, 255, 255, 0.6);
  --current-text-color: var(--primary-background-color);
  --line-color: #ececec;
  --card-border-color: #eeeeee;
  --button-hover-bg-color: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--site-background-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.no-mark {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--line-color);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.nav-area,
.header-addresses {
  display: flex;
  align-items: center;
}

.site-nav .link,
.header-addresses .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child),
.header-addresses .item:not(:last-child) {
  margin-right: 50px;
}

.page-header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.page-header .logo > span {
  color: var(--primary-background-color);
}

.page-header .link {
  color: var(--primary-text-color);
}

.header-addresses .link {
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-addresses .link:hover,
.header-addresses .link:focus {
  color: var(--primary-background-color);
}

.site-nav .current {
  color: var(--current-text-color);
}

.site-nav {
  display: flex;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.occupations img,
.team img,
.example img {
  display: block;
}

/* Stuido page */

.hero {
  background-color: var(--footer-background-color);
  text-align: center;
  height: 600px;
}

.hero h1 {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--site-background-color);
  text-transform: uppercase;
}

.hero.section {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  /* min-width: 1200px; нашел решение сжимающегося фона */
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

.button.primary {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
}

.hero .button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--button-hover-bg-color);
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* Features */
.features {
  padding-top: 89px;
  padding-bottom: 0;
}

.hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.feature-list {
  display: flex;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.features .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Occupations */
.occupations {
  text-align: center;
}

.occupation-list {
  display: flex;
}

.occupation-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Team */
.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list .item {
  padding-bottom: 30px;
  background-color: var(--site-background-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .fio {
  margin-top: 30px;
  font-weight: 500;
  font-size: inherit;
}

.team-list .position {
  margin-top: 10px;
  color: var(--secondary-text-color);
}

/* Portfolio section */

/* Filters */
.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
}

.filters .button {
  padding: 6px 22px;
}

.filters .button:hover,
.filters .button:focus {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples .link {
  color: inherit;
  display: inline-block;
}

.example .header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.example .title {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}

.examples .example:hover,
.examples .example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translate(-2px, -2px);
}

/* Footer */

.page-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer address {
  font-style: normal;
}

.page-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

address .link {
  color: var(--address-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.page-footer .link.secondary {
  color: var(--secondary-address-text-color);
}
address .link:hover,
address .link:focus,
address .link.secondary:hover,
address .link.secondary:focus {
  color: var(--primary-background-color);
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--address-text-color);
}

.page-footer .logo > span {
  color: var(--primary-background-color);
}
