:root {
  --site-background-color: #ffffff;
  --primary-background-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --selected-text-color: #ffffff;
  --address-text-color: #ffffff;
  --secondary-address-text-color: rgba(255, 255, 255, 0.6);
  --current-text-color: var(--primary-background-color);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--site-background-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.no-mark {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1230px;
  margin: 0 auto;
}

/* Header */
.site-nav,
.header-addresses {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* .site-nav li:not(:last-child),
.header-addresses li:not(:last-child) {
    margin-right: 50px;
} */

.page-header .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.page-header .logo > span {
  color: var(--primary-background-color);
}

.page-header .link {
  color: var(--primary-text-color);
}

.header-addresses .link {
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-addresses .link:hover,
.header-addresses .link:focus {
  color: var(--primary-background-color);
}

.site-nav .current {
  color: var(--current-text-color);
}

/* .page-header > .container {
    display: flex;
    justify-content: space-between;
} */

/* .nav-area {
    
} */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Stuido page */

.hero {
  background-color: var(--footer-background-color);
  text-align: center;
  height: 600px;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--site-background-color);
  margin-bottom: 30px;
}

.hero.section {
  padding-top: 195px;
  padding-bottom: 0;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.hero .button.primary {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
}

.main-page h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features {
  padding-top: 89px;
  padding-bottom: 0;
}

.features .title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.occupations {
  text-align: center;
}

.team {
  background-color: var(--secondary-background-color);
}

.team .card {
  background-color: var(--site-background-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
}

.team .fio {
  font-weight: 500;
}

.team .position {
  color: var(--secondary-text-color);
}

.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
}

/* Portfolio section */

.examples .link {
  color: inherit;
}

.example h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.examples > li:hover {
  transform: scale(1.05);
}

/* Footer */

.page-footer {
  background-color: var(--footer-background-color);
}

address {
  font-style: normal;
}

address .link {
  color: var(--address-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.link.secondary {
  color: var(--secondary-address-text-color);
}
address .link:hover,
address .link:focus,
address .link.secondary:hover,
address .link.secondary:focus {
  color: var(--primary-background-color);
}

.page-footer .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--address-text-color);
}

.page-footer .logo > span {
  color: var(--primary-background-color);
}
